{% extends 'recipes/base.html' %}

{% block content %}
<style>
        table, th, td {
        border: 1px solid black;
        padding: 3px;
        border-collapse: collapse;
        text-align: center;
        }
        h2 {text-align: center;
        }


</style>
<div class="row">
    <h2>Wszystkie przepisy</h2>

    <table style="width:100%">
        <tr>
            <th>Id</th>
            <th>Nazwa</th>
            <th>Rodzaj diety</th>
            <th>Rodzaj kuchni</th>
            <th>Poziom trudności</th>
            <th>Rodzaj posiłku</th>
            <th>Składniki</th>
            <th>Czas przygotowania</th>
            <th>Ilość kalorii</th>
            <th>Koszt przygotowania</th>
        </tr>
        {% for obj in recipe_list %}
        <tr>
            <td>{{obj.id}}</td>
            <td>{{obj.name}}</td>
            <td> {{obj.diet_type}}</td>
            <td> {{obj.cuisine}}</td>
            <td>{{obj.difficulty_level}}</td>
            <td> {{obj.meal_type}}</td>
            <td> {{obj.ingredients}}</td>
            <td>{{obj.prepare_time}}</td>
            <td> {{obj.calorie}}</td>
            <td> {{obj.cost}}</td>
        </tr>
        {% endfor %}

    </table>
</div>

{% endblock %}



