{% extends 'recipes/base.html' %}

{% block content %}
<style>
        table, th, td {
        border: 1px solid black;
        padding: 3px;
        border-collapse: collapse;
        text-align: center;
        }
        h2 {text-align: center;
        }


</style>
<div class="row">
    <h2>Recommended recipes</h2>

    <table style="width:100%">

        <tr>
            <th>Nazwa</th>
            <th>Koszt</th>
            <th>Kalorie</th>
            <th>Czas przygotowania</th>
        </tr>
        {% for obj in recipes %}
        <tr>
            <td><a href="/recommended/{{obj.id}}/">{{obj.name}}</a></td>
            <td>{{obj.cost}}</td>
            <td>{{obj.calorie}}</td>
            <td>{{obj.prepare_time}}</td>
        </tr>
        {% endfor %}

    </table>
</div>

{% endblock %}



